body{
  width:100%;
  margin: auto;
}
.container {
  width:960px;
   margin: 0 auto;
}
.header {
   background: rgb(255,0,255);
   width:100%;
   top: 0;
   position: fixed;
}
.logo {
  float:left;
  font-family: helvetica;
  font-size: 15px;
}
a {
  text-decoration: none;
    color: #fff;
}
li {
  list-style: none;
  float: left;
  margin-left: 15px;
}
.nav {
  float: right;

}






/*
    header {
      text-align: center;
      background-color: rgb(255,0,255);
      background-size: cover;
      color:white;
    }
    a {
      color:white;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: black;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }*/